<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('navbar-link'); -%>
        <link rel="stylesheet" href="/style/user/profile.css">
</head>

<body>
    <%- include('navbar-menu'); -%>
        <%- include('navbar-primary'); -%>
            <div class="main-content" style="padding-bottom: 186px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <img class="pic img-circle" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="User photo" />
                            <div class="username">
                                <%= curentUser.name %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="sidebar-nav">
                            <div class="navbar navbar-default" role="navigation">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
               </button>
                                    <span class="visible-xs navbar-brand">Profile menu</span>
                                </div>
                                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/profile">Profile</a></li>
                                        <li><a href="/editprofile">Edit profile</a></li>
                                        <li><a href="/changepassword" class="active">Change password</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <span class="profile-item-header"> Change Password:</span>
                        <div class="edit-profile">
                            <form id="editProfileForm" method="post">
                                <div class="form-group row">
                                    <label class="col-xs-3 form-control-label" for="stk">Mật Khẩu Cũ</label>
                                    <div class="col-xs-9">
                                        <input type="password" class="form-control" id="stk" placeholder="" value="" name="oldpw">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xs-3 form-control-label" for="sdtk">Mật Khẩu Mới</label>
                                    <div class="col-xs-9">
                                        <input type="password" class="form-control" id="sdtk" placeholder="" value="" name="newpw">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xs-3 form-control-label" for="sdtk">Xác Thực Mật Khẩu</label>
                                    <div class="col-xs-9">
                                        <input type="password" class="form-control" id="sdtk" placeholder="" value="" name="repw">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xs-3 form-control-label" for="sdtk">Xác Thực Mật Khẩu</label>
                                    <div class="col-xs-9">
                                        <% if(error != null){ %>
                                            <p>
                                                <%= error %>
                                            </p>
                                            <% } %>
                                    </div>
                                </div>
                                <div class="col-xs-12 button-container">
                                    <input class="btn btn-default" type="submit" value="Save changes" />
                                    <input class="btn btn-default" type="reset" value="Reset changes" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
</body>
<%- include('../footer.ejs'); -%>
    <script>
        $('.btn-expand-collapse').click(function(e) {
            $('.navbar-primary').toggleClass('collapsed');
        });
    </script>

</html>