<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('navbar-link'); -%>
        <link rel="stylesheet" href="/style/user/profile.css">
        <link rel="stylesheet" href="/style/1.css">
</head>

<body>
    <%- include('navbar-menu'); -%>
        <%- include('navbar-primary'); -%>
            <div class="main-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <img class="pic img-circle" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="User photo" />
                            <div class="username">
                                <%= curentUser.name %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="sidebar-nav">
                            <div class="navbar navbar-default" role="navigation">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
               </button>
                                    <span class="visible-xs navbar-brand">Profile menu</span>
                                </div>
                                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/profile">Profile</a></li>
                                        <li><a href="/editprofile" class="active">Edit profile</a></li>
                                        <li><a href="/changepassword">Change password</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <span class="profile-item-header"> Edit profile:</span>
                        <div class="edit-profile">
                            <form id="editProfileForm" method="post">
                                <div class="form-group row">
                                    <label class="col-xs-3 form-control-label" for="stk">Số Tài Khoản</label>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" id="stk" placeholder="" value="<%= curentUser.accountNumber %>" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xs-3 form-control-label" for="sdtk">Số Dư Tài Khoản (VNĐ)</label>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" id="sdtk" placeholder="" value="<%= curentUser.blanceSpendAccountVND %> VND" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xs-3 form-control-label" for="sdtk">Số Dư Tài Khoản ngoại tệ ($)</label>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" id="sdtk" placeholder="" value="<%= curentUser.blanceSpendAccountDollars %> $" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xs-3 form-control-label" for="sdtk">CMND/CCCD/Hộ chiếu</label>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" id="sdtk" placeholder="" value="<%= curentUser.identityCard %>" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xs-3 form-control-label" for="sdtk">Đỉa Chỉ</label>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" id="sdtk" placeholder="" value="<%= curentUser.address %>" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xs-3 form-control-label" for="birth">Ngày Sinh</label>
                                    <div class="col-xs-9 date">
                                        <div class="input-group date" id="birth">
                                            <input type="text" class="form-control" readonly value="<%= moment(curentUser.dateOfBirth).format( 'MMM-DD-YYYY') %>">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xs-3 form-control-label" for="avatar">Choose avatar</label>
                                    <div class="col-xs-9">
                                        <input name="avatar" type="file" class="file file-loading" data-allowed-file-extensions='["png", "jpg"]'>
                                    </div>
                                </div>
                                <div class="col-xs-12 button-container">
                                    <input class="btn btn-default" type="submit" value="Save changes" />
                                    <input class="btn btn-default" type="reset" value="Reset changes" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
</body>
<%- include('../footer.ejs'); -%>
    <script>
        $('.btn-expand-collapse').click(function(e) {
            $('.navbar-primary').toggleClass('collapsed');
        });
        localStorage.setItem("checkstatus", "not");
    </script>
    <script>
        $.fn.datepicker.dates['ru'] = {
            days: ["Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7", "Chủ Nhật"],
            daysShort: ["Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7", "Chủ Nhật"],
            daysMin: ["T2", "T3", "T4", "T5", "T6", "T7", "CN"],
            months: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"],
            monthsShort: ["1", "2", "2", "4", "5", "6", "7", "8", "9", "10", "11", "12"]
        };

        $('.date').datepicker({
            format: "dd MM yyyy",
            startDate: '01.01.1900',
            endDate: '01.01.2017',
            language: 'vn',
            autoclose: true,
            clearBtn: true,
            orientation: 'bottom auto',
            weekStart: 1
        });

        $('.date').datepicker().on('show', function(e) {
            $('.datepicker').animate({
                opacity: 1
            }, "slow");
        });

        $('.date').datepicker().on('hide', function(e) {
            $('.datepicker').animate({
                opacity: 0
            }, "slow");
        });
    </script>

</html>