<%- include('header'); -%>
    <div class="container">
        <div class="form-group">
           <h1>Lịch sử giao dịch</h1>
           <!-- co du lieu roi dem ra gium tao nhe -->
           <% histories.forEach(function(history){ %>
            <p>Mã giao dịch : <%= history.tradingCode %>  </p>
            <% if(history.currency==1){%> 
            <p>Loại tiền: VNĐ</p>
           <% } %> 
           <% if(history.currency==2){ %> 
            <p>Loại tiền: Dollars</p>
           <% } %> 

          <% if(history.type==1){ %> 
            <p>Tài khoản được cộng: <span>+<%= history.transactionBalance %></span></p>
            <p>Nội dung: <% if(history.content != null) { %>  <%=history.content%>  <% } %> </p>
            <p>Thời gian: <%= moment(history.createdAt).format( 'LLLL') %></p>
           <% } %> 
           <% if(history.type==2){ %> 
            <p>Tài khoản bị trừ: <span>-<%= history.transactionBalance %></span></p>
            <p>Số tài khoản hưởng thụ: <%= history.accountNumberReceive %>  </p>
            <p>Thời gian: <%= moment(history.createdAt).format( 'LLLL') %></p>
           <% } %> 
           <% if(history.type==3){ %> 
            <p>Tài khoản được cộng: <span>+<%= history.transactionBalance %></span></p>
           <p>Nội dung: <% if(history.content != null) { %>  <%=history.content%>  <% } %> </p>
           <p>Thời gian: <%= moment(history.createdAt).format( 'LLLL') %></p>
           <% } %> 
           <p>-----------</p>
          <% }); %>
         
        </div>
    </div>
<%- include('../footer'); -%></form>